$color---grey: #35393f;
$color--light-grey: #b4b4b4;
$color--dark-grey: #2b2d31;
$color--dark: #35393f;
$color--white: #ffffff;
$color--orange: #e46643;

$transition: 0.5s;

@mixin flex-row() {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin flex-colum() {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  width: fit-content;
  height: fit-content;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  box-sizing: border-box;
  @include flex-row();
  justify-content: center;
}

.display-none {
  display: none !important;
}
html,
body {
  overflow-x: hidden;
}

.translate {
  transform: translateX(-250px) !important;
}

.body--dark {
  .navigation {
    .theme-toggle-container {
      .btn--theme-switcher {
        .cyrcle {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background-color: $color--white;
          position: absolute;
          left: calc(100% - 6px) !important;
          transform: translate(-100%, -50%) !important;
        }
      }
    }
  }

  .main {
    background-color: $color---grey;
  }
}

body {
  .app-container {
    // height: 100vh;
    width: calc(100% + 250px);
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 1fr 1fr;
    transition: all $transition;

    .navigation {
      width: 100%;
      height: 100vh;
      background-color: $color--dark-grey;
      grid-column: 1 /2;
      grid-row: 1 / 3;

      color: $color--white;
      padding: 25px;
      box-sizing: border-box;
      position: relative;

      .navigation--title {
        text-transform: uppercase;
      }

      .btn--new-document {
        width: 100%;
        height: 40px;
        color: $color--white;
        background-color: $color--orange;
        border-radius: 5px;
        margin-top: 32px;
      }

      .navigation--documents-list {
        margin-top: 25px;
        li {
          @include flex-row();
          gap: 16px;
          .document-inf {
            font-size: 15px;
            @include flex-colum();
            align-items: start;
            gap: 3px;
            .documen--creation-date {
              font-size: 11px;
            }
          }
        }
      }

      .theme-toggle-container {
        position: absolute;
        bottom: 25px;
        @include flex-row();
        gap: 8px;

        .btn--theme-switcher {
          width: 48px;
          height: 24px;
          border-radius: 15px;
          background-color: $color--light-grey;
          position: relative;

          .cyrcle {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: $color--white;
            position: absolute;
            left: 6px;
            top: 50%;
            transform: translateY(-50%);
            transition: all $transition;
          }
        }
      }
    }

    .main {
      // background-color: #e46643;
      grid-column: 2 / 3;
      grid-row: 1 / 3;
      transition: all $transition;
      .main--header {
        background-color: $color--dark-grey;
        @include flex-row();
        gap: 24px;
        padding-right: 16px;
        box-sizing: border-box;

        .close-open--btns {
          .btn {
            width: 56px;
            height: 56px;
            background-color: $color---grey;
          }
        }

        .logo {
          display: none;
        }

        .input-container--main-header {
          @include flex-row();
          gap: 16px;

          .input-label {
            label {
              display: none;
            }

            input {
              border: none;
              outline: none;
              background: none;
              color: $color--white;
              font-size: 13px;
              width: 100px;
            }

            input::placeholder {
              color: $color--white;
              font-size: 13px;
            }
          }
        }

        .delete-save {
          @include flex-row();
          gap: 16px;
          // align-self:;
          margin-left: auto;

          .btn--save {
            background-color: $color--orange;
            width: 36px;
            height: 36px;
            span {
              display: none;
            }
          }
        }
      }
    }
  }
}
